@import url("https://fonts.googleapis.com/css2?family=Quicksand");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 18px 10px;
}

header h1 {
  font-size: 1.5em;
}

header .menu-bar {
  background: #fff;
}

header .menu-bar i {
  font-size: 1.8em;
}

.showcase {
  text-align: center;
  background: hsl(161, 93.5%, 30.4%);
  color: #fff;
  padding: 150px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.showcase h1 {
  font-size: 1.5em;
}

.showcase p {
  font-size: 1.2em;
}

.showcase a {
  background: #fff;
  color: hsl(161, 93.5%, 30.4%);
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bolder;
}

.about {
  padding: 18px 10px;
}

.about > p {
  padding-block: 12px;
  font-size: 1.2em;
}

.about img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 12px;
  margin-inline: auto;
  object-fit: contain;
}

.about-note {
  font-size: 1.2em;
  margin-top: 24px;
}

.about-note h1 {
  color: hsl(161, 93.5%, 30.4%);
  text-decoration: underline;
}

.product {
  padding: 18px 10px;
}

.product > p {
  padding: 10px 12px 10px 0;
}

.swiper {
  background: hsl(161, 93.5%, 30.4%);
  color: #fff;
  border-radius: 10px;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slide .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 16px 12px;
}

.swiper-slide .content h1 {
  font-size: 1.6em;
}

.swiper-slide .content p {
  font-size: 1.4em;
  padding: 0 !important;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: hsl(161, 93.5%, 30.4%);
}

.message {
  padding: 18px 10px;
}

.message > p {
  padding: 10px 12px 10px 0;
}

.message form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

.message form input,
.message form textarea {
  display: block;
  padding: 12px 14px;
  font-size: 18px;
  background: lightgrey;
  width: 100%;
  border-radius: 6px;
  border: 1px solid lightgrey;
  caret-color: hsl(161, 93.5%, 30.4%);
  resize: none;
}

.message form input:hover,
.message form textarea:hover {
  background: #fff;
}

.message form a {
  display: block;
  background: hsl(161, 93.5%, 30.4%);
  color: #fff;
  font-size: 18px;
  padding: 12px 16px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  margin: 0 auto;
}

footer {
  background: hsl(161, 93.5%, 30.4%);
  color: #fff;
}

.bottom {
  padding: 18px 10px;
}

.bottom .location {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  padding-block: 12px;
}

.bottom .location div {
  font-size: 1.2em;
}

.bottom .social {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding-block: 12px;
}

.bottom .social a {
  color: hsl(161, 93.5%, 30.4%);
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bottom .social a i {
  font-size: 1.5em;
}

.bottom .rights {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.bottom .rights div {
  font-size: 1.2em;
}

.bottom .rights div a {
  color: #fff;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  header nav {
    position: absolute;
    width: 100%;
    background: hsl(161, 93.5%, 30.4%);
    top: 72px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px 16px;
  }
  header nav.hide {
    display: none;
  }
  header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
  }
}
@media screen and (min-width: 768px) {
  header .menu-bar {
    display: none;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }
  header nav a {
    text-decoration: none;
    color: hsl(161, 93.5%, 30.4%);
    font-size: 1.2em;
    font-weight: bolder;
  }
  header,
  .about,
  .product,
  .message,
  .bottom {
    max-width: calc(100% - 150px);
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  header,
  .about,
  .product,
  .message,
  .bottom {
    max-width: calc(100% - 250px);
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
