$butter: #ddb4aa;
$chocolate: #271007;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

body {
  overflow-x: hidden;
}

@keyframes slidein {
  from {
    transform: translate(-50%, -400px);
  }
  to {
    transform: translateY(-50%, 0);
  }
}

// @keyframes slideout {
//   from {
//     transform: translateY(-50%, 0);
//   }
//   to {
//     transform: translate(-50%, -700px);
//   }
// }

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px;
  section {
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      a {
        padding: 6px 16px;
        border-radius: 20px;
        color: $chocolate;
        transition: all ease 500ms;
        &:hover {
          background-color: $chocolate;
          color: $butter;
        }
      }
    }
    button {
      color: $chocolate;
      font-size: 40px;
      display: block;
      background-color: transparent;
    }
    .order {
      display: block;
      background-color: $chocolate;
      color: $butter;
      font-size: 18px;
      padding: 14px 28px;
      border-radius: 40px;
      &:hover {
        color: $chocolate;
        background-color: $butter;
        // box-shadow: 0px 0px 5px 2px $chocolate;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px;
  margin-top: 30px;
  .hero__box {
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    .hero__left {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-inline: auto;
      text-align: center;
      height: calc(100svh - 250px);
      gap: 40px;
      strong {
        font-size: 50px;
        color: $chocolate;
        display: block;
        span {
          display: inline-block;
          background-color: $chocolate;
          color: $butter;
          padding: 6px 30px;
          transform: rotate(-5deg);
        }
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        color: $chocolate;
        width: 70%;
      }
      a {
        display: block;
        background-color: $chocolate;
        color: $butter;
        font-size: 18px;
        padding: 14px 28px;
        border-radius: 40px;
        &:hover {
          color: $chocolate;
          background-color: $butter !important;
          // box-shadow: 0px 0px 5px 2px $chocolate;
        }
      }
    }
  }
}

.products {
  width: 100%;
  margin-top: 100px;
  div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    .products__head {
      display: block;
      font-size: 32px;
      background-color: $chocolate;
      color: $butter;
      padding: 8px 30px;
      text-align: center;
      transform: rotate(-2deg);
    }
    .products__head__text {
      color: $chocolate;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  .products__cont {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px;
    margin-top: 60px;
    .products__box {
      grid-column-start: 2;
      grid-column-end: 12;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      div {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        img {
          display: block;
          border-radius: inherit;
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        strong {
          color: $chocolate;
          font-size: 24px;
          display: block;
          padding-inline: 20px;
        }
        p {
          padding-inline: 20px;
          color: $chocolate;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    section {
      position: relative;
      nav {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        align-items: stretch;
        flex-direction: column;
        top: 100px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 20px;
        animation: slidein 2s ease;
        background-color: #fff;
        a {
          border-radius: 0;
          padding: 14px 20px;
          border-radius: inherit;
        }
      }
      nav.hide {
        display: none;
        // animation: slideout 2s ease forwards;
      }
      button {
        display: block;
      }
      .order {
        display: none;
      }
    }
  }
  .hero {
    .hero__box {
      .hero__left {
        width: 80%;
        text-align: center;
        strong {
          text-align: center;
        }
        a {
          display: block;
          margin-inline: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    section {
      grid-column-start: 2;
      grid-column-end: 12;
      button {
        display: none !important;
      }
    }
  }

  .hero {
    .hero__box {
      grid-column-start: 2;
      grid-column-end: 12;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .products {
    .products__cont {
      .products__box {
        grid-column-start: 1;
        grid-column-end: 13;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .products {
    .products__cont {
      .products__box {
        grid-column-start: 2;
        grid-column-end: 12;
        gap: 60px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
    .products__cont {
      .products__box {
        grid-column-start: 3;
        grid-column-end: 11;
        gap: 80px;
      }
    }
  }
}
